{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Humans Versus Zombies at the Claremont Colleges</title>

    {% block stylein %}
      <link rel="stylesheet" type="text/css"
            href="{% static 'styles/main/core.css' %}">
     {% endblock stylein %}
      <script type="text/javascript" src="{% static 'scripts/jquery.js' %}">
      </script>
      <script type="text/javascript" src="{% static 'scripts/bootstrap.js' %}">
      </script>
      <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}" />
      {% block morehead %}{% endblock %}
  </head>
  <body>
    <div id="supercontainer" class="container">
      <div>
        {% block pre_logo %}
        {% endblock pre_logo %}

        {% include "logo.html" %}

        {% block post_header %}
        <div id="contentContainer">
          {% block content %}{% endblock %}
        </div>
        {% endblock post_header %}
      </div>
      <footer class="row">
        <div class="disclaimers pull-left">
          <p>
            For game questions contact the mod team
            at <a href="mailto:mod@claremonthvz.org">mod@claremonthvz.org</a>
          </p>
          <p>
            For problems on the website, contact the web team
            at <a href="mailto:web@claremonthvz.org">web@claremonthvz.org</a>
          </p>
        </div>
        <div class="disclaimers pull-right">
          <p>
            Humans vs Zombies and HvZ are property
            of <a href="http://gnarwhalstudios.com/">Gnarwhal
              Studios</a>
          </p>
          <p>
            <a href="http://github.com/Claremont-HvZ-Web-Team/claremontHvZ">
              Fork us on GitHub!
            </a>
          </p>
        </div>
        <div class="clearfix"></div>
      </footer>
    </div>
    {% block scriptin %}
    {% endblock scriptin %}
  </body>
</html>
