@import "bootstrap";
@import "constants";
@import "functions";
@import "inputs";
@import "classes";

body {
    background-color: $bg_grey;
    background-image: url(/static/images/concrete_wall.png);
}

a {
    text-decoration: none;
    color: $link_color;
}

a:hover {
    text-decoration: none;
    color: $link_color;
}

html,
button,
input,
select,
textarea {
    color: $text_color;
}

#supercontainer {
    background-color: white;
    background-image: url(/static/images/subtle_grunge.png);
    @include box-shadow(0, 2px, 15px, rgba(0, 0, 0, 1));
    padding-left: 0;
    padding-right: 0;

    .row {
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 0;
    }
    #intro {
        margin-bottom: -20px;
    }
}

$container_width: 1000px;
#contentContainer {
    min-height: 250px;
    padding: 1em;
    #mainContainer {
        padding: 0.25em 1em;
        background-color: rgba(255, 255, 255, 0.5);
    }
}

@media (max-width: 991px) {
    footer {
        text-align: center;
    }
}
footer {
    padding: 1em;

    font-size: 0.75em;
    color: white;
    background-color: $dark_color;
}
@import "logo_styling";

$table_padding_amount: .5em;

th, td {
    text-align: left;
    padding: $table_padding_amount/2 3*$table_padding_amount/4;

    &:not(:last-child) {
        border-right: 1px solid adjust-color($bg_grey, $alpha:-0.5);
    }
}

tr {
    padding: $table_padding_amount;
}

.table-striped tbody tr:nth-child(even) {
    background: adjust-color($bg_grey, $alpha:-0.85);
}

.disclaimers p {
    font-size: 12px;
}

.scriptonly {
    display: none;
}

.hidden {
    display: none;
}
