@import "base.scss";

$good_text_width: 650px;

p {
    max-width: $good_text_width;
    line-height: 1.25em;
}

.rule-sidenav {
    .nav {
        background-color: #ececec;
        margin-bottom: 10px;
    }

    .nav-pills > li.active > a {
        background-color: $dark_color;
    }
    .affix {
        top: 14px;
        @media (max-width: 991px) {
            position: static;
        }
        @media (min-width: 992px) {
            width: 205.5px;
        }
        @media (min-width: 1200px) {
            width: 255.5px;
        }
    }
}

#mainContainer {
    ul {
        list-style-type: disc;
        max-width: $good_text_width;

        li {
            margin: 0.25em 0;
        }
    }
    #shortcuts {
        float: right;
        right: 15px;

        &.fixed {
            position: fixed;
            top: 10px;
        }

        ul {
            list-style-type: none;
        }
    }
}

