@import "base";

.table.H {
    tbody tr:nth-child(even) {
        background: adjust-color($bg_red, $alpha:-0.75);
    }
}

.table.Z {
    tbody tr:nth-child(even) {
        background: adjust-color($bg_green, $alpha:-0.75);
    }
}

.table.B {
    tbody tr:nth-child(even) {
        background: adjust-color($dark_color, $alpha:-0.75);
    }
}

.table a {
    color: #428bca;
}

.mod.panel {
    border-color: #faebcc;
}

.mod.panel>.panel-heading {
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.H.panel {
    border-color: #ebccd1;
}

.H.panel>.panel-heading {
    background: adjust-color($bg_red, $alpha:-0.75);
    border-color: #ebccd1;
}

.Z {
    border-color: #d6e9c6;
}

.Z.panel>.panel-heading {
    background: adjust-color($bg_green, $alpha:-0.75);
    border-color: #d6e9c6;
}

.B.panel {
    border-color: #555555;
}

.B.panel>.panel-heading {
    color: #555555;
    background: adjust-color($dark_color, $alpha:-0.75);
    border-color:#555555;
}

.affixer.affix {
    top: 8px;
    @media (max-width: 991px) {
        position: static;
    }
    @media (min-width: 992px) {
        width: 360.5px;
    }
    @media (min-width: 1200px) {
        width: 445.828px;
    }
}
