{% extends "base.html" %}

{% load static %}
{% load mission_extras %}

{% block stylein %}
<link rel="stylesheet" type="text/css" href="{% static "styles/missions/missions.css" %}">
{% endblock stylein %}

{% block content %}
<h1>Missions</h1>
{% if plot_list %}
  <div class="row">
    {% with plot_list.latest as next_plot %}
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            {{ next_plot.mission|mission_time }}: {{ next_plot.title }}
          </h2>
        </div>
        <div class="panel-body">
          {{ next_plot.before_story.rendered|safe }}
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <ul id="mission-sidenav" class="well nav nav-stacked nav-pills">
        {% for plot in plots_sorted %}
          <li{% if plot.id == next_plot.id %} class="active"{% endif %}>
            <a href="{% url 'plot_detail' pk=plot.id slug=plot.slug %}">
              {{ plot.mission|mission_time }}: {{ plot.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    {% endwith %}
  </div>
{% endif %}
{% endblock %}
