@import "base";

.ticker {
    min-height: 250px;
    max-height: 400px;
    overflow-y: scroll;
    background-color: $bg_grey;
    color: white;

    ul {
        padding: 0;

        li {
            padding: 0.125em;
            list-style: none;
        }

        li:nth-child(even) {
            background: adjust-color(rgb(255, 255, 255), $alpha: -0.875);
        }
    }
}
