@import "base";

.register_form {
    display: table;

    .row {
        display: table-row;


        & > div {
            padding: 0.5em 0.25em;
            display: table-cell;
        }
    }
}

.error {
    padding: 0.5em;
    text-transform: uppercase;

    margin-bottom: 2em;
}
