@import "base";

$padding_amount: .5em;

th, td {
    text-align: left;
    padding: $padding_amount/2 3*$padding_amount/4;

    &:not(:last-child) {
        border-right: 1px solid adjust-color($bg_grey, $alpha:-0.5);
    }
}

tr {
    padding: $padding_amount;
}

.clearer {
    height: $padding_amount*2;
}

#human_list {
    float: left;

    th.title {
        text-align: center;
        column-span: 4;

        font-size: 1.5em;
    }

    thead tr:last-child {
        border-bottom: 1px solid adjust-color($bg_red, $alpha:-0.5);
    }

    tbody tr:nth-child(even) {
        background: adjust-color($bg_red, $alpha:-0.75);
    }
}

#zombie_list {
    float: right;

    th.title {
        text-align: center;
        column-span: 5;

        font-size: 1.5em;
    }

    thead tr:last-child {
        border-bottom: 1px solid adjust-color($bg_green, $alpha:-0.5);
    }

    tbody tr:nth-child(even) {
        background: adjust-color($bg_green, $alpha:-0.75);
    }
}
