{% extends "base.html" %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block stylein %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main/landing_page.css' %}"/>
{% endblock stylein %}

{% block content %}

<h2>
  Sexual Harrassment Report Form
</h2>
<div class="panel {% if form.errors %}panel-danger{% else %}panel-default{% endif %}">
  {% if form.errors %}
	<div class="panel-heading">
      <h2 class="panel-title">Try that again</h2>
      {{form.non_field_errors}}
  </div>
  {% endif %}
  <form method="post" action="{% url 'harrassmentForm' %}">
  	{% csrf_token %}
  	



    <div class="form-group{% if field.errors %} has-error{% endif %}">
      <label for="description">{{form.description.label}}</label>
      {{form.description|add_class:"form-control"}}
      {% if form.description.errors %}<p class="help-block">{{form.description.errors|first}}</p>{%endif%}
    </div>

    <div class="form-group{% if field.errors %} has-error{% endif %}">
      <label for="description">{{form.anonymous.label}}</label>
      <input class="form-control" style="width: 100px;" id="id_anonymous" name="anonymous" type="checkbox" />

      {% if form.anonymous.errors %}<p class="help-block">{{form.anonymous.errors|first}}</p>{%endif%}
    </div>
  	
  	<input type="submit" class="btn" />
  	
  </form>
</div>

{% endblock %}