{% extends "base.html" %}
{% load staticfiles %}

{% block stylein %}
<link rel="stylesheet" href="{% static 'styles/main/landing_page.css' %}" />
{% endblock stylein %}


{% block pre_logo %}
    <div class='intro'>
        <p>Thundercats esse master cleanse intelligentsia umami sriracha. Viral post-ironic sapiente Austin. Incididunt VHS hoodie blog fashion axe artisan. Intelligentsia fingerstache swag chambray pitchfork lo-fi. Ad echo park sartorial before they sold out, fugiat 90's fixie hoodie iphone flannel american apparel ethnic assumenda. High life ad fanny pack est, laboris stumptown minim ugh keytar terry richardson viral truffaut pickled. Ad delectus ea etsy, squid quis farm-to-table occaecat synth viral next level marfa.</p>
    </div>
{% endblock pre_logo %}

{% block content %}

{% endblock content %}
