{% extends "base.html" %}
{% load staticfiles %}

{% block stylein %}
<link rel="stylesheet" href="{% static 'styles/main/landing_page.css' %}" />
{% endblock stylein %}


{% block pre_logo %}
    <div class='intro'>
        <p>Thundercats esse master cleanse intelligentsia umami sriracha. Viral post-ironic sapiente Austin. Incididunt VHS hoodie blog fashion axe artisan. Intelligentsia fingerstache swag chambray pitchfork lo-fi. Ad echo park sartorial before they sold out, fugiat 90's fixie hoodie iphone flannel american apparel ethnic assumenda.</p>
    </div>
{% endblock pre_logo %}

{% block content %}
<section class='ticker'>
    {% for meal in latest_meals %}
        <div class='time'>
            {{meal.time|date:"%H:%M"}}
        </div>
        <div class='meal'>
            {{meal.eater}} ate {{meal.eaten}}
        </div>
        <div class='loc'>
            {{meal.location}}
        </div>
    {% endfor %}
</section>
<section class='mission'>
{% if not request.user.is_authenticated %}

{% endif %}
</section>
{% endblock content %}
