{% extends 'base.html' %}

{% load static %}
{% load player_extras %}

{% block stylein %}
   <link rel="stylesheet" type="text/css" href="{% static 'styles/players/players_main.css' %}">
{% endblock stylein %}

{% block content %}
{% with player_list|filter_by:"team,H" as humans %}
<table id="human_list">
<thead>
  <tr><th class='title' colspan=4>Humans: {{humans.count}}</th></tr>
  <tr>
    <th>Name</th>
    <th>School</th>
    <th>Year</th>
    <th>Class</th>
  </tr>
</thead>

  {# HUMANS #}
  {% for player in humans %}
  <tr class="player {{ player.team }}">
    <td class="name">{{ player.user.first_name }} {{ player.user.last_name }}</td>
    <td class="school">{{ player.school }}</td>
    <td class="year">{{ player.grad_year }}</td>
    <td class="upgrade">{{ player.upgrade|upgrade_name }}</td>
  </tr>
  {% empty %}
  <tr><td colspan=4>There aren't any humans!</td></tr>
  {% endfor %}

</table>
{% endwith %}

  {# ZOMBIES #}
{% with player_list|filter_by:"team,Z" as zombies %}

<table id="zombie_list">
<thead>
  <tr><th class='title' colspan=5>Zombies: {{zombies.count}}</th></tr>
  <tr>
    <th>Name</th>
    <th>School</th>
    <th>Year</th>
    <th>Tags</th>
    <th>Class</th>
  </tr>
</thead>
  {% for player in zombies %}
  <tr class="player {{ player.team }}">
    <td class="name">{{ player.user.get_full_name }}</td>
    <td class="school">{{ player.school }}</td>
    <td class="year">{{ player.grad_year }}</td>
    <td class="meal_count">
      {% if player.team == 'Z' or player.meal_count > 0 %}{{ player.meal_count }}{% endif %}
    </td>
    <td class="upgrade">{{ player.upgrade|upgrade_name }}</td>
  </tr>
  {% empty %}
  <tr><td colspan=5>There aren't any zombies!</td></tr>
  {% endfor %}
</table>
{% endwith %}

<div class="clearer"></div>
{% endblock %}
