@import "base";

.title {
    text-align: center;
}

#human_list {
    tbody tr.odd {
        background: adjust-color($bg_red, $alpha:-0.75);
    }
}

#zombie_list {
    tbody tr.odd {
        background: adjust-color($bg_green, $alpha:-0.75);
    }
}
