{% extends "base.html" %}
{% load staticfiles %}

{% block scriptin %}
   <script type="text/javascript" src="{% static 'scripts/jquery.flot.js' %}"></script>
   <script type="text/javascript" src="{% static 'scripts/jquery.flot.stack.js' %}"></script>
   <script type="text/javascript" src="{% static 'scripts/stats/statloader.js'%}"></script>
{% endblock scriptin %}


{% block content %}
<h1>Population by Graduation Year</h1>
<div id="population_by_class" style="width:100%;height:300px;"></div>

<h1>Population by School</h1>
<div id="population_by_school" style="width:100%;height:300px;"></div>

<h1>Population by Dorm</h1>
<div id="population_by_dorm" style="width:100%;height:900px;"></div>
{% endblock content %}
