{% extends "base.html" %}

{% load staticfiles %}

{% block morehead %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/stats/ancestry.css' %}">
{% endblock morehead %}

{% block scriptin %}
<script type="text/javascript" src="{% static 'scripts/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/d3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/d3.layout.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/typeahead.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/stats/ancestry.js'%}"></script>
{% endblock scriptin %}


{% block content %}
<nav>
  <ul class="nav nav-tabs">
    <li><a href="{% url 'stats_index' %}">Population</a></li>
    <li><a href="{% url 'stats_outbreak' %}">Outbreak</a></li>
    <li class="active"><a href="{% url 'stats_ancestry' %}">Ancestry</a></li>
    <li><a href="{% url 'stats_meal_log' %}">Tags</a></li>
  </ul>
</nav>
<p class="noscript">You need a JavaScript-enabled browser to see this stats page.</p>
<div id="ancestry_tab" class="scriptonly">
  <div class="container">
    <div class="row">
      <h1>Zombie Ancestry</h1>
      <input id="player_typeahead"
             class="typeahead scriptonly"
             type="text" placeholder="Find a zombie..." />
    </div>
    <div id="ancestry_container">
      <svg id="ancestry_chart"></svg>
    </div>
  </div>
</div>
{% endblock content %}
