{% load staticfiles %}
{% load base_extras %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Claremont Humans vs. Zombies</title>

    {% block stylein %}
      <link rel="stylesheet" type="text/css"
            href="{% static 'styles/main/core.css' %}">
    {% endblock stylein %}
    <script type="text/javascript" src="{% static 'scripts/jquery.js' %}">
    </script>
    <script type="text/javascript" src="{% static 'scripts/bootstrap.js' %}">
    </script>
    <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}" />
    {% block morehead %}{% endblock %}
  </head>
  <body>
    <div id="supercontainer" class="container">
      <div>
        {% block pre_logo %}
        {% endblock pre_logo %}

        {% include "logo.html" %}

        {% block post_header %}
        <div id="contentContainer">
          {% block content %}{% endblock %}
        </div>
        {% endblock post_header %}
      </div>
      <footer class="row">
        <div class="disclaimers pull-left">
          <p>
            For game questions or problems with the website, contact the mods
            at <a href="mailto:{% mod_email %}">{% mod_email %}</a>.
          </p>
        </div>
        <div class="disclaimers pull-right">
          <p>
            <a href="http://github.com/Claremont-HvZ-Web-Team/claremontHvZ">
              Fork us on GitHub!
            </a>
          </p>
        </div>
        <div class="clearfix"></div>
      </footer>
    </div>
    {% block scriptin %}
    {% endblock scriptin %}
  </body>
</html>
