{% extends "base.html" %}
{% load staticfiles %}

{% load widget_tweaks %}

{% block stylein %}
   <link rel="stylesheet" type="text/css" href="{% static 'styles/feed/eat.css' %}">
{% endblock stylein %}


{% block content %}
<h2>
	Transfer Brains
</h2>
{% if form.errors %}
    {{form.errors}}
{% endif %}
<form method="post" action="{% url 'donate' %}">
    {% csrf_token %}

    <div class="form-group{% if field.errors %} has-error{% endif %}">
      <label for="{{form.receiver.id_for_label}}">Pay to the order of </label>
      {{ form.receiver }}
      {% if form.receiver.errors %}
      <p class="help-block">
        {{field.errors|first}}
      </p>
      {% endif %}
    </div>

    <div class="form-group{% if field.errors %} has-error{% endif %}">
      <label for="{{form.num_brains.id_for_label}}">The value of </label>
      {{ form.num_brains }}
      <label for="{{form.num_brains.id_for_label}}">brains.</label>
      {% if form.num_brains.errors %}
      <p class="help-block">
        {{field.errors|first}}
      </p>
      {% endif %}
    </div>

    <input type="submit" class="btn" />

</form>

{% endblock %}
