{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Please log in to continue</h1>
  </div>
  <form method="POST" action="" class="panel-body">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{form.username.auto_id}}">Username</label>
      {{form.username|attr:"class:form-control"|attr:"placeholder:Enter your email address"}}
    </div>
    <div class="form-group">
      <label for="{{form.password.auto_id}}">Password</label>
      {{form.password|attr:"class:form-control"|attr:"placeholder:Enter your password"}}
    </div>
    <input type="submit" value="Log in!" class="btn"/>
    <a href="{% url "password_reset" %}" class="btn">Forgot your password?</a>
  </form>
</div>
{% endblock content %}
