{% extends "base.html" %}

{% load static %}

{% block morehead %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/stats/meal_log.css' %}">
{% endblock %}

{% block content %}
<nav>
  <ul class="nav nav-tabs">
    <li><a href="{% url 'stats_index' %}">Population</a></li>
    <li><a href="{% url 'stats_outbreak' %}">Outbreak</a></li>
    <li><a href="{% url 'stats_ancestry' %}">Ancestry</a></li>
    <li class="active"><a href="{% url 'stats_meal_log' %}">Tags</a></li>
  </ul>
</nav>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Location</th>
        <th>Eater</th>
        <th>Eaten</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
    {% for m in meal_list %}
    <tr>
      <td>{{ m.time|date }}</td>
      <td>{{ m.time|time }}</td>
      <td>{% if m.location %}{{ m.location }}{% endif %}</td>
      <td>{{ m.eater.user.first_name }} {{ m.eater.user.last_name}}</td>
      <td>{{ m.eaten.user.first_name }} {{ m.eaten.user.last_name}}</td>
      <td>{% if m.description %}{{ m.description }}{% endif %}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
