{% extends "base.html" %}

{% load staticfiles %}

{% block scriptin %}
<script type="text/javascript" src="{% static 'scripts/jquery.flot.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/jquery.flot.stack.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/jquery.flot.time.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/stats/outbreak.js'%}"></script>
{% endblock %}

{% block content %}
<nav>
  <ul class="nav nav-tabs">
    <li><a href="{% url 'stats_index' %}">Population</a></li>
    <li class="active"><a href="{% url 'stats_outbreak' %}">Outbreak</a></li>
    <li><a href="{% url 'stats_ancestry' %}">Ancestry</a></li>
    <li><a href="{% url 'stats_meal_log' %}">Tags</a></li>
  </ul>
</nav>
<p class="noscript">You need a JavaScript-enabled browser to see this stats page.</p>
<div id="outbreak_tab" class="scriptonly">
  <h1>Populations over Time</h1>
  <div id="population_time_series" style="width:100%;height:300px"></div>
  <h1>Meals per Hour</h1>
  <div id="tag_histogram" style="width:100%;height:300px"></div>
</div>
{% endblock content %}
