{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset successful' %}{% endblock %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">{% trans 'Password reset successful' %}</h1>
  </div>
  <div class="panel-body">
    <p>
      {% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly." %}
    </p>
  </div>
{% endblock %}
