{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset complete' %}{% endblock %}

{% block content %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">{% trans 'Password reset complete' %}</h1>
  </div>
  <div class="panel-body">
    <p>
      {% trans "Your password has been set.  You may go ahead and log in now." %}
    </p>
    <a href="{{ login_url }}" class="btn">{% trans 'Log in' %}</a>
  </div>
</div>

{% endblock %}
