{% extends 'base.html' %}

{% load static %}
{% load player_extras %}

{% block stylein %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles/main/core.css' %}">
{% endblock stylein %}

{% block content %}
<h1>Forum</h1>
  {% for team, threads in thread_groups %}
    {% if threads %}
      <h2>{{ team|team_name }}</h2>
      <table>
      {% for thread in threads %}
        <tr>
          <td>
            <a href="{% url 'thread_detail' pk=thread.pk slug=thread.slug %}">
              {{ thread.title }}
            </a>
          </td>
          <td>{{ thread.num_posts }}</td>
          <td>{{ thread.last_updated }}</td>
        </tr>
      {% endfor %}
      </table>
    {% endif %}
  {% endfor %}
  <a href="{% url 'thread_create' %}">Create thread</a>
{% endblock content %}
