{% extends 'base.html' %}

{% load static %}
{% load player_extras %}

{% block stylein %}
  <link
     rel="stylesheet"
     type="text/css"
     href="{% static 'styles/forum/thread_list.css' %}">
{% endblock stylein %}

{% block content %}
<h1>{{ thread.title }}</h1>
<div class="row">
  <div class="col-md-7">
    {% for post in posts %}
    {% with post.author.user as user %}
    {% with user|as_player as player %}
    <div class="panel {% if user.is_staff %}mod{% else %}{{player.team}}{% endif %}">
      <div class="panel-heading">
        <h3 class="panel-title">{{ user.first_name }} {{ user.last_name }}, {{ post.created|date:"l g:i a" }}</h3>
      </div>
      <div class="panel-body">
        {{ post.body }}
      </div>
    </div>
  {% endwith %}
  {% endwith %}
  {% endfor %}
  </div>
  <div class="col-md-5">
    <div class="affixer" data-spy="affix" data-offset-top="300">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Make a post</h3>
        </div>
        <form method="post" class="panel-body" action="{% url 'thread_detail' thread.pk thread.slug %}">
          {% csrf_token %}
          {{ form.body }}
          <input type="submit" class="btn form-control" value="Post" />
          <p class="help-block">(We use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> for formatting)</p>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
