{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block stylein %}
   <link rel="stylesheet" type="text/css" href="{% static 'styles/main/core.css' %}">
{% endblock stylein %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Create a thread</h2>
  </div>
  <form method="post" action="{% url 'thread_create' %}" class="panel-body">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{form.team.auto_id}}">Team</label>
      {{ form.team|attr:"class:form-control" }}
    </div>
    <div class="form-group">
      <label for="{{form.title.auto_id}}">Title</label>
      {{ form.title|attr:"class:form-control" }}
    </div>
    <div class="form-group">
      <label for="{{form.post_body.auto_id}}">Post</label>
      {{ form.post_body|attr:"class:form-control" }}
    </div>
    <input type="submit" class="btn form-control" value="Post" />
  </form>
</div>
{% endblock %}
