<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Humans Versus Zombies at the Claremont Colleges</title>
    <link rel="stylesheet" href="{% block colorScheme %}{% endblock %}" />
    <link rel="stylesheet" href="/media/css/layout.css" />
	{% if user.team = "Z" %}
	<link rel="stylesheet" href="/media/css/zombie/jquery-ui-1.8.18.custom.css" />
	{% else %}
	<link rel="stylesheet" href="/media/css/human/jquery-ui-1.8.18.custom.css" />
	{% endif %}
	<style type="text/css">
		.reminder{
			color: #AAA;
			font-style: italic;
			font-size: .85em;
			margin-bottom: 2em;
		}
	</style>
	<script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/media/js/jquery-ui-1.8.18.custom.min.js"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi" />
 	<script type="text/javascript" src="/media/js/jquery.dataTables.js" />
	<script type="text/javascript">
		google.load("visualization", "1", {packages:["corechart"]});
		$(document).ready(function() {
			$('button').button();
		}
	</script>
   {% block morehead %}{% endblock %}
  </head>
  <body>
    <div id="contentContainer">
      <div id="mainContainer" class="background" style="width:10000px">
	  {% block content %}{% endblock %}
      </div>
    </div>
	{% if user.username = "AnonymousUser" %}
	<div id="login"></div>
	{% endif %}
  </body>
</html>
