{% extends "base.html" %}

{% block colorScheme %}/media/css/concrete-blood.css{% endblock %}

{% block morehead %}
<style type="text/css">
	label{
		vertical-align: top;
	}
	.reminder{
		color: #AAA;
		font-style: italic;
		font-size: .85em;
		margin-bottom: 2em;
	}
</style>
<script type="text/javascript">
	$(document).ready(function(){
		$("[for='id_meal_day_0']").after("<div id='day'></div>");
		$("input:radio,[for^='id_meal_day']").appendTo("#day");
		$("form ul").remove();
		$("[for='id_meal_day_0']:first").remove();
		$("#day").buttonset();
		$("#day").before("Meal Day: ");
	});
</script>
{% endblock %}

{% block content %}
<ul style="font-weight:bold">{{ preform|unordered_list }}</ul>
<form method="POST" action="/player/eat/" target="_self">
{% csrf_token %}
{{ form }}
<button type="submit">Eat Them</button>
</form>
{% endblock %}
