<script type="text/javascript">
	function addReply(){
		var contents = $("#id_contents").val();
		$("#id_contents").val("");
		$.post("/forum/reply/",{
			"csrfmiddlewaretoken": "{{ csrf_token }}",
			"parent": $("#id_parent").val(),
			"contents": contents
		},
		function(data){
			$("#posts").append("<tr><td>You, just now</td><td style='border: 1px solid white; color:white;'>"+contents+"</td></tr>");
		});
	}
</script>
<h2>{{ title }}</h2>
<ul>
	<li>Thread Created: {{ created|date:"D g:i A" }}</li>
	<li>Thread Creator: {{ creator }}</li>
	<li>Visible To: {{ team }}</li>
</ul>
<p>{{ description }}</p>
<table id="posts" width="100%">
{% for p in posts %}
	<tr>
		<td style="color:white;" width="150px"><a href="/player/user/{{ p.poster_id }}" class="hoverme">{{ p.poster_name }}</a><br />{{ p.created|date:"D g:i A" }}</td>
		<td style="border: 1px solid white; color:white;">{{ p.contents }}</td>
	</tr>
{% endfor %}
</table>
<form>
<h3>Reply to Thread</h3>
{{ reply }}
<button type="button" onclick="addReply()">Reply</button>
</form>