{% extends "base.html" %}

{% block colorScheme %}/media/css/concrete-blood.css{% endblock %}

{% block morehead %}
	<script type="text/javascript" src="/media/js/jquery.dataTables.js"></script>
	<script type="text/javascript">
		function showThread(id){
			$("#right").load("/forum/"+id+"/");
		}

		function addThread(){
			$.post("/forum/thread/",{
				"csrfmiddlewaretoken": "{{ csrf_token }}",
				"parent": $("#id_title").val(),
				"title": $("#id_title").val(),
				"description": $("#id_description").val(),
				"visibility": $("#id_visibility").val()
			},
			function(data){
				if (data == "worked"){
					window.location.reload()
				}else{
					$("#nt_form").html(data);
				}
			});
		}


		$(document).ready(function() {
			$('[value="M"]').html('{% if user.team = "H" %}Humans{% else %}Zombies{% endif %}');
			$('#both').dataTable({
				"aaSorting": [[3,'desc']],
				"aoColumns": [
					/* Title */ null,
					/* Replies */ null,
					/* Replied Sortable */ { "bVisible": false },
					/* Replied */ { "iDataSort": 2 }
				],
				"bPaginate": false,
				"bFilter": false,
				"bSort": true,
				"bInfo": false,
				"bAutoWidth": true,
				"sScrollY": "200px",
				"sDom": "frtiS",
				"bDeferRender": true
			});
			$('#team').dataTable({
				"aaSorting": [[3,'desc']],
				"aoColumns": [
					/* Title */ null,
					/* Replies */ null,
					/* Replied Sortable */ { "bVisible": false },
					/* Replied */ { "iDataSort": 2 }
				],
				"bPaginate": false,
				"bFilter": false,
				"bSort": true,
				"bInfo": false,
				"bAutoWidth": true,
				"sScrollY": "200px",
				"sDom": "frtiS",
				"bDeferRender": true
			});
		});
	</script>
	<link rel="stylesheet" type="text/css" href="/media/css/jquery.dataTables.css" />
	<!--style type="text/css">
		.hoverme{
			background-color: blue;
			color: white;
			padding: 5px;
		}
		.hoverme:hover{
			cursor: pointer;
		}
	</style-->
{% endblock %}

{% block content %}
<div id="left" style="width:400px; float:left;">
<h2>Threads visible by All</h2>
<table id="both">
	<thead>
		<tr>
			<th>Title</th>
			<th>Replies</th>
			<th>Last Reply Sortable</th>
			<th>Last Reply</th>
		</tr>
	</thead>
	<tbody>
{% for t in both_thread %}
		<tr>
			<td><a onclick="showThread({{ t.id }});" class="hoverme">{{ t.title }}</a></td>
			<td>{{ t.replies }}</td>
			<td>{{ t.modified|date:"c" }}</td>
			<td>{{ t.modified|date:"D g:i A" }}</td>
		</tr>
{% endfor %}	
</table>

<h2>Threads visible to {% if user.team = "H" %}Humans{% else %}Zombies{% endif %}</h2>
<table id="team">
	<thead>
		<tr>
			<th>Title</th>
			<th>Replies</th>
			<th>Last Reply Sortable</th>
			<th>Last Reply</th>
		</tr>
	</thead>
	<tbody>
{% for t in team_thread %}
		<tr>
			<td><a onclick="showThread({{ t.id }});" class="hoverme">{{ t.title }}</a></td>
			<td>{{ t.replies }}</td>
			<td>{{ t.modified|date:"c" }}</td>
			<td>{{ t.modified|date:"D g:i A" }}</td>
		</tr>
{% endfor %}	
</table>

<h2>Post New Thread</h2>
<form>
<div id="nt_form">{{ new }}</div>
<button type="button" onclick="addThread();">Make new thread</button>
</form>

</div>
<div id="right" style="margin-left:455px;">
</div>


{% endblock %}
