<html>
	<head>
		<title>Attendance List</title>
		<style type="text/css">
			thead {display: table-header-group;}
		</style>
	</head>
	<body>
		<table style="border: 1px solid black;" width="100%;">
			<thead>
				<tr>
					<th colspan="2">Name</th>
					<th colspan="3">Tuesday</th>
					<th colspan="3">Wednesday</th>
					<th colspan="3">Thursday</th>
					<th colspan="3">Friday</th>
					<th colspan="3">Saturday</th>
				</tr>
				<tr>
					<th scope="col">Last</th>
					<th scope="col">First</th>
{% for d in dl %}
	<th scope="col">Day</th>
	<th scope="col">NPC</th>
	<th scope="col">Night</th>
{% endfor %}
					<th scope="col">NPC</th>
					<th scope="col">Final</th>
				</tr>
			</thead>
			<tbody>
{% for p in players %}
<tr style="border: 1px solid black;">
	<th scope="row" style="border: 1px solid black; text-align:left;">{{ p.player.user.last_name }}</th>
	<td style="border: 1px solid black;">{{ p.player.user.first_name }}</td>
	{% for n in nl %}
		<td style="border: 1px solid black;">&nbsp;</td>
	{% endfor %}
</tr>
{% endfor %}
			</tbody>
		</table>
	</body>
</html>