{% extends "base.html" %}

{% block colorScheme %}/media/css/color-scheme.css{% endblock %}

{% block greeting %}
  Welcome, {{ first_name|default:"Player" }}!
{% endblock %}

{% block morehead %}
	<link rel="stylesheet" type="text/css" href="/media/css/jquery.dataTables.css" />
	<script type="text/javascript" src="/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript">
		google.load("visualization", "1", {packages:["corechart"]});
		function drawChart() {
		var data = new google.visualization.DataTable();
			data.addColumn('string', 'Team');
			data.addColumn('number', 'Players');
			data.addRows([
				['Humans',    {{ humans }}],
				['Zombies',   {{ zombies }}],
			]);

			var options = {
				width: 325, height: 250,
				title: 'Current Outbreak',
				colors: ['hotpink', 'green']
			};

			var chart = new google.visualization.PieChart(document.getElementById('all_players'));
			chart.draw(data, options);
		}

		$(document).ready(function() {
			drawChart();
		});

	</script>
{% endblock %}

{% block content %}
	<table width="100%">
		<tr>
{% if user.team != "N" %}
  {% if mission %}
			<td style="vertical-align: top">
				<h1>Next Mission</h1>
				<h2 id="m_title" class="fademe">{{ mission.title }}</h2>
				<ul>
					<li>Day: <span id="m_day" class="fademe">{{ mission.day }}</span></li>
					<li>Kind: <span id="m_kind" class="fademe">{{ mission.kind }}</span></li>
				</ul>
				<h3 id="h_story">Story</h3>
				<div id="m_story" class="fademe">{{ mission.story|safe }}</div>
				<h3 id="h_goals">Goals</h3>
				<div id="m_goals" class="fademe">{{ mission.goals|safe }}</div>
				<h3 id="h_rules">Special Rules</h3>
				<div id="m_rules" class="fademe">{{ mission.rules|safe }}</div>
				<h3 id="h_reward">Reward</h3>
				<div id="m_reward" class="fademe">{{ mission.reward|safe }}</div>
			</td>
  {% endif %}
{% else %}
			<td style="vertical-align: top">
				<h1>Register for HvZ</h1>
				<p>Come by any of the dining halls at dinner this week to register for the game!</p>
			</td>
{% endif %}
			<td>
				<h1>Outbreak</h1>
				<div id="all_players"></div>
				<p>Humans: {{ humans }}</p>
				<p>Zombies: {{ zombies }}</p>
			</td>
			<td style="vertical-align: top">
				<h1>On Duty</h1>
				<p>The On Duty Moderator is {{ onduty.name }}. You can reach them by calling (909) 525-4551.</p>
			</td>
		</tr>
	</table>
{% endblock %}
