{% extends "base.html" %}

{% block colorScheme %}/media/css/concrete-blood.css{% endblock %}

{% block content %}

{% for s in stories %}
	{% if s.plot or s.meals or s.missions %}
		<h2>{{ s.day }}</h2>
		{% if s.plot %}
			<h3>Plot Developments</h3>
			{% for p in s.plot %}
				<h4>{{ p.title }}</h4>
				<p>{{ p.story|safe }}</p>
			{% endfor %}
		{% endif %}
		{% if s.missions %}
			<h3>Missions</h3>
			{% for i in s.missions %}
				<h4>{{ i.title }}</h4>
				<p>{{ i.story|safe }}</p>
			{% endfor %}
		{% endif %}
		{% if s.meals %}
			<h3>Notable Meals</h3>
			<ul>
			{% for m in s.meals %}
				<li><strong>{{ m.title }}: </strong>{{ m.story|safe }}</li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endif %}
{% endfor %}

{% endblock %}
