{% extends "base.html" %}

{% block colorScheme %}/media/css/concrete-blood.css{% endblock %}

{% block morehead %} {% endblock %}

{% block content %}
{% if not_found %}<div id="not_found"> Player information not found. </div>
{% else %}
<h2>{% if hardcore%}Legendary {% endif %}{% if team = "Z" %}Zombie{% else %}Human{% endif %} {{ class|default:"" }}</h3>
<table>
    <tr><td>Player:</td><td>{{ first }} {{ last }}</td></tr>
    <tr><td>School:</td><td>{{ school }}</td></tr>
    <tr><td>Graduation Year:</td><td>{{ grad_year }}</td></tr>
{% if team = "Z" %}
    <tr><td>Meals:</td><td>{{ meals }}</td></tr>
{% endif %}
{% if isMe %}
    <tr><td>Feed Code:</td><td>{{ feed }}</td></tr>
{% endif %}
</table>

{% endif %}
{% endblock %}
