{% extends "base.html" %}

{% block colorScheme %}/media/css/concrete-blood.css{% endblock %}

{% block greeting %}
  Welcome, {{ first_name|default:"Player" }}!
{% endblock %}


{% block morehead %}
	<link rel="stylesheet" type="text/css" href="/media/css/jquery.dataTables.css" />
	<!--style type="text/css">
		.hoverme{
			background-color: blue;
			color: white;
			padding: 5px;
		}
		.hoverme:hover{
			cursor: pointer
		}
	</style-->
	<script type="text/javascript">
		function load_rule(id, showPicture) {
			$("#rule_"+id+" button").button("option","disabled",true);
			$("#rule_"+id+"_extra").hide()
			$.ajax({
				type: "GET",
				url: "/rules/r/"+id,
				dataType: "json",
				success: function(data){
		                    // Only add data that exists
              		      appdata = "";

		                    // Description
		                    if (data.details != "") {
		                        appdata += "<p>"+data.details+"</p>"
		                    }

		                    // Picture
		                    if (showPicture && data.image != "") {
		                        appdata += "<img src='/media/"+data.image+"' />";
		                    } 

		                    // Video
		                    if (data.youtube != "") {
		                        appdata += "<iframe width='560' height='315' src='";
		                        appdata += data.youtube+"' frameborder = '0'"+
		                                   "allowfullscreen></iframe>";
		                    }

					$("#rule_"+id+"_extra").append(appdata).slideToggle();
					$("#rule_"+id+" button").attr("onclick",'$("#rule_'+id+'_extra").slideToggle()');
					$("#rule_"+id+" button").button("option","disabled",false);
				}
			});
		}
		function load_location(id) {
			$.ajax({
				type: "GET",
				url: "/rules/l/"+id,
				dataType: "json",
				success: function(data){
                    appdata = "";
                    // Description
                    if (data.details != "") {
                        appdata += "<p>"+data.details+"</p>"
                    }
                    // Google Map
                    appdata += "<img src='http://maps.googleapis.com/maps/api/"+
                               "staticmap?center="+data.lat+","+data.lng+
                               "&zoom=18&size=300x300&maptype=hybrid&markers="+
                               "size:small%7C"+data.lat+","+data.lng+
                               "&sensor=false' />";
                    // Picture
                    if (data.image != "") {
                        appdata += "<img src='/media/"+data.image+"' />";
                    } 
                    // Youtube
                    if (data.youtube != "") {
                        appdata += "<iframe width='560' height='315' src='";
                        appdata += data.youtube+"' frameborder = '0'"+
                                   "allowfullscreen></iframe>";
                    }
					$("#location_"+id).append(appdata)
		                    $("#location_"+id+" button").button("option","disabled",true)
				}
			});
		}
	</script>
{% endblock %}

{% block content %}
<h2>Rules</h2>
<p><strong>The golden rule is: Don't be a Jerk!</strong></p>
<p>For more details on rules, try clicking the title of a rule. Additional details are things there for some of the confusing rules.</p>
<h3>Basics</h3>
{% for b in basics %}
	<div id="rule_{{ b.id }}">
		<h4><button onclick="load_rule({{ b.id }}, true)">{{ b.title }}</button></h4>
		<p>{{ b.description|safe }}</p>
		<p id="rule_{{ b.id }}_extra"></p>
	</div>
{% endfor %}
<h3>Classes</h3>
<table>
{% for c in classes %}
		<tr><th colspan="2" id="rule_{{ c.id }}"><button onclick="load_rule({{ c.id }}, false)" >{{ c.title }}</button></th></tr>
		<tr>
			<td rowspan="2"><img src="/media/{{ c.pic }}" width="165px" height="200px" /></td>
			<td>{{ c.description|safe }}</td>
		</tr>
		<tr>
			<td id="rule_{{ c.id }}_extra"></td>
		</tr>
{% endfor %}
</table>
<h3>Locations</h3>
<p style="font-style:italic">Coming Soon</p>
{% for l in locations %}
	<div id="location_{{ l.id }}">
		<h4><button onclick="load_location({{ l.id }})">{{ l.title}}</button></h4>
<!--		<p>{{ l.location }} is a  {{ l.kind }}</p> -->
        <p>{{ l.description|safe }}</p>
	</div>
{% endfor %}
{% endblock %}
