<html>
  <head>
    <title>Claremont HvZ Registration</title>
  </head>
  <body>
    <img src="/media/img/logo.png" width="344px" height="200px" />
    <h1>Registration</h1>
    <form method="POST" action="/register/" target="_self">
      {% csrf_token %}
      {% for field in form %}
      <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label }}
        {{ field }}
        {{ field.help_text }}
      </div>
      {% endfor %}
      <button type="submit">Sign Up</button>
    </form>
</html>
