{% extends "base.html" %}

{% block colorScheme %}/media/css/concrete-blood.css{% endblock %}

{% block greeting %}
  Welcome, {{ first_name|default:"Player" }}!
{% endblock %}

{% block content %}
<h1>Status Down</h1>
<p>We are sorry for the inconvenience, but the server we are on cannot support the status page.</p>
<p>There is a $100 prize available for the first person to get our site migrated to a better server. Contact <a href="mailto:claremont-hvz-mods@googlegroups.com">claremont-hvz-mods@googlegroups.com</a> for more info.</p>
{% endblock %}