{% extends "base.html" %}

{% block colorScheme %}/media/css/concrete-blood.css{% endblock %}

{% block greeting %}
  Welcome, {{ user.firstname }}!
{% endblock %}


{% block morehead %}
	<link rel="stylesheet" type="text/css" href="/media/css/jquery.dataTables.css" />
	<!--style type="text/css">
		.hoverme{
			background-color: blue;
			color: white;
			padding: 5px;
		}
		.hoverme:hover{
			cursor: pointer
		}
	</style-->
	<script type="text/javascript" src="/media/js/jquery.dataTables.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#playerList').dataTable({
				"aaSorting": [[1,'asc'],[2,'asc']],
				"aoColumns": [
					/* First */ { "bVisible": false },
					/* First with link */ { "iDataSort": 0 },
					/* Last */ null,
					/* School */ null,
					/* Year */ null,
					/* Team */ null,
					/* Class */ null,
					/* Meals */ { "aDataSort": [5,7]},
					/* Legendary */ null,
					/* Past Games */ { "bVisible": false }
				],
				"bPaginate": false,
				"bFilter": true,
				"bSort": true,
				"bInfo": false,
				"bAutoWidth": true,
				"sScrollY": "400px",
				"sDom": "frtiS",
				"bDeferRender": true
			});
		});
	</script>
{% endblock %}

{% block content %}
<table id="playerList">
	<thead>
		<tr>
			<th>First Sorter</th>
			<th>First</th>
			<th>Last</th>
			<th>School</th>
			<th>Year</th>
			<th>Team</th>
			<th>Class</th>
			<th>Meals</th>
			<th>Legendary</th>
			<th>Past Games</th>
		</tr>
	</thead>
	<tbody>
  {% for p in players %}
		<tr>
			<td>{{ p.first }}</td>
			<td><a href="/player/user/{{ p.username }}" class="hoverme">{{ p.first }}</a></td>
			<td>{{ p.last }}</td>
			<td>{{ p.school }}</td>
			<td>{{ p.year }}</td>
			<td>{{ p.team }}</td>
			<td>{{ p.class }}</td>
			<td>{{ p.meals }}</td>
			<td>{{ p.hardcore|yesno:"Legendary," }}</td>
			<td>{{ p.past }}</td>
		</tr>
  {% endfor %}
	</tbody>
</table>

{% endblock %}
