{% extends "base.html" %}

{% block colorScheme %}/media/css/concrete-blood.css{% endblock %}

{% block greeting %}
  Welcome, {{ first_name|default:"Player" }}!
{% endblock %}

{% block content %}
    
    <script type="text/javascript">
	{% if user.username != "AnonymousUser" %}
	function logout() {
		$.post("/logout/", {
                         "csrfmiddlewaretoken": "{{ csrf_token }}"
                       },
                       function(data) {
			 window.location.reload()
		       });
	}

	$(document).ready(function() {
		$("button").button();
	});
	{% else %}
	function login_popup() {
		$("#login").dialog("open");
	}

	function login_auth() {
		$.post("/login/",
                       {
                          csrfmiddlewaretoken: "{{ csrf_token }}",
                          email: $("#id_email").val(),
                          password: $("#id_password").val()},
                          function(data) {
                            window.location.reload();
                            //alert(data);
                          }
                       )
        }

	$(document).ready(function() {
		$("#login").dialog({
			autoOpen: false,
			show: "fold",
			hide: "fold",
			modal: true,
			title: "Log In"
		});
                $("#login").load("/login/",
                                 function() {
                                   $("button").button();
                                 });
        });
        {% endif %}
    </script>

    <div id="header">
      <div id="topleft">
        <div id="logoContainer" class="background">
	  <img id="logo" src="/media/img/logo.png" alt="Claremont HvZ logo"/>
        </div>
        <div id="greeting" class="foreground">Welcome, {{ user.firstname }}</div>
      </div>
      <div id="topright" class="foreground">
        {% if user.team = "N" %}
        <div id="noteam">
          Go to a dining hall to register for the game
        </div>
        {% endif %}
        {% if user.team = "Z" %}
        <button type="button" onclick="parent.location='/player/eat/'">
        Eat</button>
        {% endif %}

        {% if user.hardcore %}<button>Legendary Page</button>{% endif %}

        {% if user.username != "AnonymousUser" %}
          <button type="button" onclick="logout()">
            Log Out
          </button>
        {% else %}
          <button type="button" onclick="login_popup()">
            Log In
            </button>
        {% endif %}
      </div>
    </div>

    <script>
	$(function() {
	  $( "#tabs" ).tabs();
	});
    </script>
    <div class="navbar">
      <div id="tabs">
	<ul>
	  <li><a href="/main/"><span>Home</span></a></li>
	  <li><a href="/rules/"><span>Rules</span></a></li>
	  <li><a href="/forum/">Forums</a></li>
	  <li><a href="/player/"><span>Players</span></a></li>
	  <li><a href="/mission/"><span>Missions</span></a></li>
	  <li><a href="/status/"><span>Status</span></a></li>
	  <li><a href="/timeline/"><span>Timeline</span></a></li>
          {% if user.isMod %}
            <li><a href="/email/">Email</a></li>
          {% endif %}
	</ul>
      </div>
    </div>

  <div id = "footer">
    <p>
      Humans vs Zombies and HvZ are property of <a
      href="http://gnarwhalstudios.com/">Gnarwhal Studios</a>.
    </p>
  </div>
{% endblock %}
