{% extends "base.html" %}

{% block colorScheme %}/media/css/concrete-blood.css{% endblock %}

{% block greeting %}
  Welcome, {{ first_name|default:"Player" }}!
{% endblock %}

{% block morehead %}
	<link rel="stylesheet" type="text/css" href="/media/css/jquery.dataTables.css" />
	<!--style type="text/css">
		.hoverme{
			background-color: blue;
			color: white;
			padding: 5px;
		}
		.hoverme:hover{
			cursor: pointer
		}
	</style-->
	<script type="text/javascript" src="/media/js/jquery.dataTables.js"></script>
	<script type="text/javascript">
		function load_mission(id) {
			$.ajax({
				type: "GET",
				url: "/mission/"+id,
				dataType: "json",
				success: function(data){
					$(".fademe").fadeOut('slow',function(){
						$("#m_title").html(data["title"]);
						$("#m_day").html(data["day"]);
						$("#m_kind").html(data["kind"]);
						$("#m_result").html(data["result"]);
						$("#m_story").html(data["story"]);
						$("#m_goals").html(data["goals"]);
						$("#m_rules").html(data["rules"]);
						$("#m_reward").html(data["reward"]);
                        // Turn on or off the title based on whether or not it
                        // has data
                        $("#h_story").html((data["story"] == "") ? '' : "Story");
                        $("#h_goals").html((data["goals"] == "") ? '' : "Goals");
                        $("#h_rules").html((data["rules"] == "") ? '' : "Special Rules");
                        $("#h_reward").html((data["reward"] == "") ? '' : "Reward");
					});
					$(".fademe").fadeIn('slow');
				}
			});
		}

		$(document).ready(function() {
			$('#missionList').dataTable({
				"aaSorting": [[4,'desc'],[5,'asc']],
				"aoColumns": [
					/* Title */ null,
					/* Day */ { "bVisible": false },
					/* Kind */ { "bVisible": false },
					/* Result */ { "bVisible": false },
					/* Pretty Day */ { "iDataSort": 1 },
					/* Pretty Kind */ { "iDataSort": 2 },
					/* Pretty Result */ null
				],
				"bPaginate": false,
				"bFilter": false,
				"bSort": true,
				"bInfo": false,
				"bAutoWidth": true,
				"sScrollY": "400px",
				"sDom": "frtiS",
				"bDeferRender": true
			});
			$('#missionList a:first').click();
		});
	</script>
{% endblock %}

{% block content %}
	<div id="left" style="width:400px;float:left;">
		<table id="missionList">
			<thead>
				<tr>
					<th>Title</th>
					<th>Hidden Day</th>
					<th>Hidden Kind</th>
					<th>Hidden Result</th>
					<th>Day</th>
					<th>Kind</th>
					<th>Result</th>
				</tr>
			<thead>
			<tbody>
				{% for mission in mission_list %}
					<tr>
						<td><a onclick="load_mission({{ mission.id }})" class="hoverme" >{{ mission.title }}</a></td>
						<td>{{ mission.day }}</td>
						<td>{{ mission.kind }}</td>
						<td>{{ mission.result }}</td>
						<td>{{ mission.p_day }}</td>
						<td>{{ mission.p_kind }}</td>
						<td>{{ mission.p_result }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div id="right" style="margin-left:405px;">
			<h2 id="m_title" class="fademe"></h2>
			<ul>
				<li>Day: <span id="m_day" class="fademe"></span></li>
				<li>Kind: <span id="m_kind" class="fademe"></span></li>
				<li>Result: <span id="m_result" class="fademe"></span></li>
			</ul>
			<h3 id="h_story">Story</h3>
			<div id="m_story" class="fademe"></div>
			<h3 id="h_goals">Goals</h3>
			<div id="m_goals" class="fademe"></div>
			<h3 id="h_rules">Special Rules</h3>
			<div id="m_rules" class="fademe"></div>
			<h3 id="h_reward">Reward</h3>
			<div id="m_reward" class="fademe"></div>
	</div>
{% endblock %}
