@import "reset";
@import "constants";
@import "functions";
@import "inputs";
@import "classes";

body {
    background-color: $bg_grey;
    background-image: url(/static/images/concrete_wall.png);
}

a {
    text-decoration: none;
    color: $link_color;
}

html,
button,
input,
select,
textarea {
    color: $text_color;
}

.supercontainer {
    margin: 0 auto;
    width: 1100px;
}


.container {
    @media screen and (min-width: $min_full_page_width){
        $container_width: 1000px;
    }
    margin: 0 auto;
    width: $container_width;

    background-color: white;
    background-image: url(/static/images/subtle_grunge.png);
    @include box-shadow(0, 15px, 15px, rgba(0, 0, 0, 1));

}

#contentContainer {
    min-height: 250px;
    padding: 1em;
    #mainContainer {
        padding: 0.25em 1em;
        background-color: rgba(255, 255, 255, 0.5);
    }
}



footer {
    padding: 1em;

    font-size: 0.75em;
    color: white;
    background-color: $dark_color;
}
@import "logo_styling";

$table_padding_amount: .5em;

th, td {
    text-align: left;
    padding: $table_padding_amount/2 3*$table_padding_amount/4;

    &:not(:last-child) {
        border-right: 1px solid adjust-color($bg_grey, $alpha:-0.5);
    }
}

tr {
    padding: $table_padding_amount;
     &:nth-child(even) {
        background: adjust-color($bg_grey, $alpha:-0.85);
     }
}
