input[type="radio"],
  input[type="checkbox"] {
    margin: 5px;
}

input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="tel"],
  input[type="text"],
  input[type="url"] {
    display: inline-block;

    margin: 0;
    padding: 2px 8px;
    background: white;
    border: 1px solid #D9D9D9;
    border-top: 1px solid silver;

    box-sizing: border-box;

    border-radius: 1px;
}

input[type="email"]:hover,
  input[type="number"]:hover,
  input[type="password"]:hover,
  input[type="tel"]:hover,
  input[type="text"]:hover,
  input[type="url"]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.btn {
  $base_color: $bg_green;
  $secondary_color: darken($base_color, 15%);
  color: #fff;
  background-color: $base_color;
}

.btn:hover {
  $base_color: darken($bg_green, 2%);
  color: #fff;
  background-color: $base_color;
}

.button-submit:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}
