@import "base";

.intro {
    width: 600px;

    padding: 1em;
    margin-bottom: -100px;
    margin-left: 5%;

    @include rounded;

    p {
        padding: 0.15em 0.5em;
        background-color: rgba(255,255,255,0.5);

        font: {
            size: 1.75em;
        }

        line-height: 1.5em;
        text-align: justify;
    }
}
