@import "base";

.intro {
    width: 600px;

    padding: 1em;
    margin-bottom: -100px;
    margin-left: 5%;

    @include rounded;

    p {
        padding: 0.15em 0.5em;
        background-color: rgba(255,255,255,0.5);

        font: {
            size: 1.75em;
        }

        line-height: 1.5em;
        text-align: justify;
    }
}

.logo_holder {
    float: right;
    padding: 15px;

    div {
        padding-bottom: 0.5em;
    }

    input {
        font-size: 20px;
        padding: 5px;
        width: $logo_width - 15px;
    }

}


.ticker {
    float: right;
    margin: 0.25em {
        right: -0.5em;
    }

    padding: 5px;

    min-height: 250px;
    max-height: 400px;
    overflow-y: scroll;
    width: 250px;
    background-color: $bg_grey;
    color: white;

    ul {
        padding: 0;

        li {
            padding: 0.125em;
        }

        li:nth-child(even) {
            background: adjust-color(rgb(255, 255, 255), $alpha: -0.875);
        }
    }
}
